html,body {
	overflow-x:hidden;

}

html,body,.container-fluid {
	width:100%;
	height:100%;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

.well-lg {
	padding: 0.5em;
}

.well-lg > p {
	font-size:12px;
}

.main-row {
    height: 100%;
	background-image:url('../img/seigaiha.png');
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.mapael .map {
	position: relative;
	z-index:0;
}




hr {
	margin:0;
}

ul {
	margin-left:0;
	padding-left:1em;
}

.status-col {
	background-color: #F0F0F0;
}
.status-col > .panel-body {
	padding-top:0;
}

li {
    display: block;
}

li > i {
	margin-right:1em;
}

/*PP*/

h3#cont {
	margin-top:0;
	padding-top:0;
}
ul#progress {
list-style:none;
margin:auto;
text-align:center;
}
ul#progress li {
display:inline-block;
float:none;
position:relative;
width:30px;
height:30px;
border:1px solid #fff;
border-radius:50px;
margin-left:10px;
border-left:1px solid #E5E5E5; border-top:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5;
background:#D2D7D3;
}

ul#progress > li:before {
	content: none;
}

ul#progress li:first-child { margin-left:0; }

.ball-ok {
	background-color:#5cb85c !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-warning {
	background-color: #f0ad4e !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-danger {
	background-color: #d9534f !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

html,body {
	overflow-x:hidden;

}

html,body,.container-fluid {
	width:100%;
	height:100%;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

.well-lg {
	padding: 0.5em;
}

.well-lg > p {
	font-size:12px;
}

.main-row {
    height: 100%;
	background-image:url('../img/seigaiha.png');
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.mapael .map {
	position: relative;
	z-index:0;
}




hr {
	margin:0;
}

ul {
	margin-left:0;
	padding-left:1em;
}

.status-col {
	background-color: #F0F0F0;
}
.status-col > .panel-body {
	padding-top:0;
}

li {
    display: block;
}

li > i {
	margin-right:1em;
}

/*PP*/

h3#cont {
	margin-top:0;
	padding-top:0;
}
ul#progress {
list-style:none;
margin:auto;
text-align:center;
}
ul#progress li {
display:inline-block;
float:none;
position:relative;
width:30px;
height:30px;
border:1px solid #fff;
border-radius:50px;
margin-left:10px;
border-left:1px solid #E5E5E5; border-top:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5;
background:#D2D7D3;
}

ul#progress > li:before {
	content: none;
}

ul#progress li:first-child { margin-left:0; }

.ball-ok {
	background-color:#5cb85c !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-warning {
	background-color: #f0ad4e !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-danger {
	background-color: #d9534f !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}


.mapael .mapTooltip {
	position: absolute;
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px;
	display:block;
	z-index: 1000;
	max-width: 200px;
	color: #000;
	font-size:10px;
}