html,body {
	overflow-x:hidden;

}

html,body,.container-fluid {
	width:100%;
	height:100%;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

.well-lg {
	padding: 0.5em;
}

.well-lg > p {
	font-size:12px;
}


.cover-container {
	width:100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 9999;
	pointer-events:none;
}
.main-row {
    height: 100%;
	background-image:url('../img/seigaiha.png');
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.mapael .map {
	position: relative;
	z-index:0;
}



hr {
	margin:0;
}

ul {
	margin-left:0;
	padding-left:1em;
}

.status-col {
	background-color: #F0F0F0;
}
.status-col > .panel-body {
	padding-top:0;
}

li {
    display: block;
}

li > i {
	margin-right:1em;
}

/*PP*/

h3#cont {
	margin-top:0;
	padding-top:0;
}
ul#progress {
list-style:none;
margin:auto;
text-align:center;
}
ul#progress li {
display:inline-block;
float:none;
position:relative;
width:30px;
height:30px;
border:1px solid #fff;
border-radius:50px;
margin-left:10px;
border-left:1px solid #E5E5E5; border-top:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5;
background:#D2D7D3;
}

ul#progress > li:before {
	content: none;
}

ul#progress li:first-child { margin-left:0; }

.ball-ok {
	background-color:#5cb85c !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-warning {
	background-color: #f0ad4e !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-danger {
	background-color: #d9534f !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

html,body {
	overflow-x:hidden;

}

html,body,.container-fluid {
	width:100%;
	height:100%;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

.well-lg {
	padding: 0.5em;
}

.well-lg > p {
	font-size:12px;
}

.main-row {
    height: 100%;
	background-image:url('../img/seigaiha.png');
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.mapael .map {
	position: relative;
	z-index:0;
}




hr {
	margin:0;
}

ul {
	margin-left:0;
	padding-left:1em;
}

.status-col {
	background-color: #F0F0F0;
}
.status-col > .panel-body {
	padding-top:0;
}

li {
    display: block;
}

li > i {
	margin-right:1em;
}

/*PP*/

h3#cont {
	margin-top:0;
	padding-top:0;
}
ul#progress {
list-style:none;
margin:auto;
text-align:center;
}
ul#progress li {
display:inline-block;
float:none;
position:relative;
width:30px;
height:30px;
border:1px solid #fff;
border-radius:50px;
margin-left:10px;
border-left:1px solid #E5E5E5; border-top:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5;
background:#D2D7D3;
}

ul#progress > li:before {
	content: none;
}

ul#progress li:first-child { margin-left:0; }

.ball-ok {
	background-color:#5cb85c !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-warning {
	background-color: #f0ad4e !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}

.ball-danger {
	background-color: #d9534f !important;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
}


.mapael .mapTooltip {
	position: absolute;
	  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 8px;
	display:block;
	z-index: 1000;
	max-width: 200px;
	color: #000;
	font-size:9px;
}



.input-color {
    position: relative;
}
.input-color span {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}

.tooltip-list {
	margin:0;
	list-style: none;
	padding:0;
}

.float-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.float-wrapper > div {
	float:left;
	width:10px;
	height: 10px;
	margin-left:5px;
}

.float-wrapper > span {
	font-weight:bold;
	float:left;
}

.container {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */ 
  display:none;  
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

  .overlay-content {
      position: absolute;
      top: 35%;
      left: 25%;
      text-align: center; /* Centered text/links */
  }

  @font-face {
    font-family: OverPass;
    src: url('../fonts/Overpass-Regular.ttf');
}

.card {
  overflow-wrap: break-word;
   font-family: 'Overpass', sans-serif;
  font-size:25px;
  width: 224px;
  height: 328px;
  margin-left: 50px;
  float:left;
}

.card span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top:40%;
}


.cards-number {
	top:15%;
	position: relative;
	margin:auto;
	text-align: center;
}

#card1  {
  background: url('../img/cards.png') 0 0;
  margin-left:0px;
}

#card2  {
  background: url('../img/cards.png') 224px 0;
}

#card3  {
  background: url('../img/cards.png') 0 328px;
}

#card4  {
  background: url('../img/cards.png') 224px 328px;
}